$plotter-font-path: "../fonts" !default;

$plt-home: "\e900";
$plt-home2: "\e901";
$plt-home3: "\e902";
$plt-home4: "\e903";
$plt-home5: "\e904";
$plt-home6: "\e905";
$plt-home7: "\e906";
$plt-home8: "\e907";
$plt-home9: "\e908";
$plt-office: "\e909";
$plt-city: "\e90a";
$plt-newspaper: "\e90b";
$plt-magazine: "\e90c";
$plt-design: "\e90d";
$plt-pencil: "\e90e";
$plt-pencil2: "\e90f";
$plt-pencil3: "\e910";
$plt-pencil4: "\e911";
$plt-pencil5: "\e912";
$plt-pencil6: "\e913";
$plt-pencil7: "\e914";
$plt-eraser: "\e915";
$plt-eraser2: "\e916";
$plt-eraser3: "\e917";
$plt-quill: "\e918";
$plt-quill2: "\e919";
$plt-quill3: "\e91a";
$plt-quill4: "\e91b";
$plt-pen: "\e91c";
$plt-pen-plus: "\e91d";
$plt-pen-minus: "\e91e";
$plt-pen2: "\e91f";
$plt-pen3: "\e920";
$plt-pen4: "\e921";
$plt-pen5: "\e922";
$plt-marker: "\e923";
$plt-marker2: "\e924";
$plt-blog: "\e925";
$plt-blog2: "\e926";
$plt-pen6: "\e927";
$plt-brush: "\e928";
$plt-spray: "\e929";
$plt-palette: "\e92a";
$plt-palette2: "\e92b";
$plt-color-sampler: "\e92c";
$plt-toggle: "\e92d";
$plt-bucket: "\e92e";
$plt-bucket2: "\e92f";
$plt-gradient: "\e930";
$plt-eyedropper: "\e931";
$plt-eyedropper2: "\e932";
$plt-eyedropper3: "\e933";
$plt-droplet: "\e934";
$plt-droplet2: "\e935";
$plt-droplet-contrast: "\e936";
$plt-color-clear: "\e937";
$plt-paint-format: "\e938";
$plt-stamp: "\e939";
$plt-images: "\e93a";
$plt-image: "\e93b";
$plt-image2: "\e93c";
$plt-image-compare: "\e93d";
$plt-images2: "\e93e";
$plt-image3: "\e93f";
$plt-images3: "\e940";
$plt-image4: "\e941";
$plt-image5: "\e942";
$plt-image6: "\e943";
$plt-camera: "\e944";
$plt-camera2: "\e945";
$plt-camera3: "\e946";
$plt-shutter: "\e947";
$plt-headphones: "\e948";
$plt-headset: "\e949";
$plt-music: "\e94a";
$plt-music2: "\e94b";
$plt-music3: "\e94c";
$plt-music4: "\e94d";
$plt-music5: "\e94e";
$plt-music6: "\e94f";
$plt-album: "\e950";
$plt-cassette: "\e951";
$plt-tape: "\e952";
$plt-piano: "\e953";
$plt-guitar: "\e954";
$plt-trumpet: "\e955";
$plt-speakers: "\e956";
$plt-play: "\e957";
$plt-play2: "\e958";
$plt-clapboard-play: "\e959";
$plt-clapboard: "\e95a";
$plt-media: "\e95b";
$plt-presentation: "\e95c";
$plt-movie: "\e95d";
$plt-film: "\e95e";
$plt-film2: "\e95f";
$plt-film3: "\e960";
$plt-film4: "\e961";
$plt-video-camera: "\e962";
$plt-video-camera2: "\e963";
$plt-video-camera-slash: "\e964";
$plt-video-camera3: "\e965";
$plt-video-camera4: "\e966";
$plt-video-camera-slash2: "\e967";
$plt-video-camera5: "\e968";
$plt-recording: "\e969";
$plt-dice: "\e96a";
$plt-gamepad: "\e96b";
$plt-gamepad2: "\e96c";
$plt-gamepad3: "\e96d";
$plt-pacman: "\e96e";
$plt-spades: "\e96f";
$plt-clubs: "\e970";
$plt-diamonds: "\e971";
$plt-chess-king: "\e972";
$plt-chess-queen: "\e973";
$plt-chess-rook: "\e974";
$plt-chess-bishop: "\e975";
$plt-chess-knight: "\e976";
$plt-chess-pawn: "\e977";
$plt-chess: "\e978";
$plt-bullhorn: "\e979";
$plt-megaphone: "\e97a";
$plt-new: "\e97b";
$plt-connection: "\e97c";
$plt-connection2: "\e97d";
$plt-connection3: "\e97e";
$plt-connection4: "\e97f";
$plt-podcast: "\e980";
$plt-station: "\e981";
$plt-station2: "\e982";
$plt-antenna: "\e983";
$plt-satellite-dish: "\e984";
$plt-satellite-dish2: "\e985";
$plt-feed: "\e986";
$plt-podcast2: "\e987";
$plt-antenna2: "\e988";
$plt-mic: "\e989";
$plt-mic-off: "\e98a";
$plt-mic2: "\e98b";
$plt-mic-off2: "\e98c";
$plt-mic3: "\e98d";
$plt-mic4: "\e98e";
$plt-mic5: "\e98f";
$plt-book: "\e990";
$plt-book2: "\e991";
$plt-book-play: "\e992";
$plt-book3: "\e993";
$plt-bookmark: "\e994";
$plt-books: "\e995";
$plt-archive: "\e996";
$plt-reading: "\e997";
$plt-library: "\e998";
$plt-library2: "\e999";
$plt-graduation: "\e99a";
$plt-file-text: "\e99b";
$plt-profile: "\e99c";
$plt-file-empty: "\e99d";
$plt-file-empty2: "\e99e";
$plt-files-empty: "\e99f";
$plt-files-empty2: "\e9a0";
$plt-file-plus: "\e9a1";
$plt-file-plus2: "\e9a2";
$plt-file-minus: "\e9a3";
$plt-file-minus2: "\e9a4";
$plt-file-download: "\e9a5";
$plt-file-download2: "\e9a6";
$plt-file-upload: "\e9a7";
$plt-file-upload2: "\e9a8";
$plt-file-check: "\e9a9";
$plt-file-check2: "\e9aa";
$plt-file-eye: "\e9ab";
$plt-file-eye2: "\e9ac";
$plt-file-text2: "\e9ad";
$plt-file-text3: "\e9ae";
$plt-file-picture: "\e9af";
$plt-file-picture2: "\e9b0";
$plt-file-music: "\e9b1";
$plt-file-music2: "\e9b2";
$plt-file-play: "\e9b3";
$plt-file-play2: "\e9b4";
$plt-file-video: "\e9b5";
$plt-file-video2: "\e9b6";
$plt-copy: "\e9b7";
$plt-copy2: "\e9b8";
$plt-file-zip: "\e9b9";
$plt-file-zip2: "\e9ba";
$plt-file-xml: "\e9bb";
$plt-file-xml2: "\e9bc";
$plt-file-css: "\e9bd";
$plt-file-css2: "\e9be";
$plt-file-presentation: "\e9bf";
$plt-file-presentation2: "\e9c0";
$plt-file-stats: "\e9c1";
$plt-file-stats2: "\e9c2";
$plt-file-locked: "\e9c3";
$plt-file-locked2: "\e9c4";
$plt-file-spreadsheet: "\e9c5";
$plt-file-spreadsheet2: "\e9c6";
$plt-copy3: "\e9c7";
$plt-copy4: "\e9c8";
$plt-paste: "\e9c9";
$plt-paste2: "\e9ca";
$plt-paste3: "\e9cb";
$plt-paste4: "\e9cc";
$plt-stack: "\e9cd";
$plt-stack2: "\e9ce";
$plt-stack3: "\e9cf";
$plt-folder: "\e9d0";
$plt-folder-search: "\e9d1";
$plt-folder-download: "\e9d2";
$plt-folder-upload: "\e9d3";
$plt-folder-plus: "\e9d4";
$plt-folder-plus2: "\e9d5";
$plt-folder-minus: "\e9d6";
$plt-folder-minus2: "\e9d7";
$plt-folder-check: "\e9d8";
$plt-folder-heart: "\e9d9";
$plt-folder-remove: "\e9da";
$plt-folder2: "\e9db";
$plt-folder-open: "\e9dc";
$plt-folder3: "\e9dd";
$plt-folder4: "\e9de";
$plt-folder-plus3: "\e9df";
$plt-folder-minus3: "\e9e0";
$plt-folder-plus4: "\e9e1";
$plt-folder-minus4: "\e9e2";
$plt-folder-download2: "\e9e3";
$plt-folder-upload2: "\e9e4";
$plt-folder-download3: "\e9e5";
$plt-folder-upload3: "\e9e6";
$plt-folder5: "\e9e7";
$plt-folder-open2: "\e9e8";
$plt-folder6: "\e9e9";
$plt-folder-open3: "\e9ea";
$plt-certificate: "\e9eb";
$plt-cc: "\e9ec";
$plt-price-tag: "\e9ed";
$plt-price-tag2: "\e9ee";
$plt-price-tags: "\e9ef";
$plt-price-tag3: "\e9f0";
$plt-price-tags2: "\e9f1";
$plt-price-tag4: "\e9f2";
$plt-price-tags3: "\e9f3";
$plt-price-tag5: "\e9f4";
$plt-price-tags4: "\e9f5";
$plt-barcode: "\e9f6";
$plt-barcode2: "\e9f7";
$plt-qrcode: "\e9f8";
$plt-ticket: "\e9f9";
$plt-ticket2: "\e9fa";
$plt-theater: "\e9fb";
$plt-store: "\e9fc";
$plt-store2: "\e9fd";
$plt-cart: "\e9fe";
$plt-cart2: "\e9ff";
$plt-cart3: "\ea00";
$plt-cart4: "\ea01";
$plt-cart5: "\ea02";
$plt-cart-add: "\ea03";
$plt-cart-add2: "\ea04";
$plt-cart-remove: "\ea05";
$plt-basket: "\ea06";
$plt-bag: "\ea07";
$plt-bag2: "\ea08";
$plt-percent: "\ea09";
$plt-coins: "\ea0a";
$plt-coin-dollar: "\ea0b";
$plt-coin-euro: "\ea0c";
$plt-coin-pound: "\ea0d";
$plt-coin-yen: "\ea0e";
$plt-piggy-bank: "\ea0f";
$plt-wallet: "\ea10";
$plt-cash: "\ea11";
$plt-cash2: "\ea12";
$plt-cash3: "\ea13";
$plt-cash4: "\ea14";
$plt-credit-card: "\ea15";
$plt-credit-card2: "\ea16";
$plt-calculator: "\ea17";
$plt-calculator2: "\ea18";
$plt-calculator3: "\ea19";
$plt-chip: "\ea1a";
$plt-lifebuoy: "\ea1b";
$plt-phone: "\ea1c";
$plt-phone2: "\ea1d";
$plt-phone-slash: "\ea1e";
$plt-phone-wave: "\ea1f";
$plt-phone-plus: "\ea20";
$plt-phone-minus: "\ea21";
$plt-phone-plus2: "\ea22";
$plt-phone-minus2: "\ea23";
$plt-phone-incoming: "\ea24";
$plt-phone-outgoing: "\ea25";
$plt-phone3: "\ea26";
$plt-phone-slash2: "\ea27";
$plt-phone-wave2: "\ea28";
$plt-phone-hang-up: "\ea29";
$plt-phone-hang-up2: "\ea2a";
$plt-address-book: "\ea2b";
$plt-address-book2: "\ea2c";
$plt-address-book3: "\ea2d";
$plt-notebook: "\ea2e";
$plt-at-sign: "\ea2f";
$plt-envelop: "\ea30";
$plt-envelop2: "\ea31";
$plt-envelop3: "\ea32";
$plt-envelop4: "\ea33";
$plt-envelop5: "\ea34";
$plt-mailbox: "\ea35";
$plt-pushpin: "\ea36";
$plt-pushpin2: "\ea37";
$plt-location: "\ea38";
$plt-location2: "\ea39";
$plt-location3: "\ea3a";
$plt-location4: "\ea3b";
$plt-location5: "\ea3c";
$plt-location6: "\ea3d";
$plt-location7: "\ea3e";
$plt-compass: "\ea3f";
$plt-compass2: "\ea40";
$plt-compass3: "\ea41";
$plt-compass4: "\ea42";
$plt-compass5: "\ea43";
$plt-compass6: "\ea44";
$plt-map: "\ea45";
$plt-map2: "\ea46";
$plt-map3: "\ea47";
$plt-map4: "\ea48";
$plt-map5: "\ea49";
$plt-direction: "\ea4a";
$plt-reset: "\ea4b";
$plt-history: "\ea4c";
$plt-clock: "\ea4d";
$plt-clock2: "\ea4e";
$plt-clock3: "\ea4f";
$plt-clock4: "\ea50";
$plt-watch: "\ea51";
$plt-watch2: "\ea52";
$plt-alarm: "\ea53";
$plt-alarm-add: "\ea54";
$plt-alarm-check: "\ea55";
$plt-alarm-cancel: "\ea56";
$plt-bell: "\ea57";
$plt-bell2: "\ea58";
$plt-bell3: "\ea59";
$plt-bell-plus: "\ea5a";
$plt-bell-minus: "\ea5b";
$plt-bell-check: "\ea5c";
$plt-bell-cross: "\ea5d";
$plt-stopwatch: "\ea5e";
$plt-calendar: "\ea5f";
$plt-calendar2: "\ea60";
$plt-calendar3: "\ea61";
$plt-calendar4: "\ea62";
$plt-calendar5: "\ea63";
$plt-calendar-empty: "\ea64";
$plt-calendar-day: "\ea65";
$plt-calendar-week: "\ea66";
$plt-printer: "\ea67";
$plt-printer2: "\ea68";
$plt-printer3: "\ea69";
$plt-printer4: "\ea6a";
$plt-shredder: "\ea6b";
$plt-mouse: "\ea6c";
$plt-mouse2: "\ea6d";
$plt-mouse-left: "\ea6e";
$plt-mouse-right: "\ea6f";
$plt-keyboard: "\ea70";
$plt-keyboard2: "\ea71";
$plt-typewriter: "\ea72";
$plt-display: "\ea73";
$plt-display2: "\ea74";
$plt-display3: "\ea75";
$plt-display4: "\ea76";
$plt-laptop: "\ea77";
$plt-mobile: "\ea78";
$plt-mobile2: "\ea79";
$plt-tablet: "\ea7a";
$plt-mobile3: "\ea7b";
$plt-tv: "\ea7c";
$plt-radio: "\ea7d";
$plt-cabinet: "\ea7e";
$plt-drawer: "\ea7f";
$plt-drawer2: "\ea80";
$plt-drawer-out: "\ea81";
$plt-drawer-in: "\ea82";
$plt-drawer3: "\ea83";
$plt-box: "\ea84";
$plt-box-add: "\ea85";
$plt-box-remove: "\ea86";
$plt-download: "\ea87";
$plt-upload: "\ea88";
$plt-floppy-disk: "\ea89";
$plt-floppy-disks: "\ea8a";
$plt-floppy-disks2: "\ea8b";
$plt-floppy-disk2: "\ea8c";
$plt-floppy-disk3: "\ea8d";
$plt-disk: "\ea8e";
$plt-disk2: "\ea8f";
$plt-usb-stick: "\ea90";
$plt-drive: "\ea91";
$plt-server: "\ea92";
$plt-database: "\ea93";
$plt-database2: "\ea94";
$plt-database3: "\ea95";
$plt-database4: "\ea96";
$plt-database-menu: "\ea97";
$plt-database-add: "\ea98";
$plt-database-remove: "\ea99";
$plt-database-insert: "\ea9a";
$plt-database-export: "\ea9b";
$plt-database-upload: "\ea9c";
$plt-database-refresh: "\ea9d";
$plt-database-diff: "\ea9e";
$plt-database-edit: "\ea9f";
$plt-database-edit2: "\eaa0";
$plt-database-check: "\eaa1";
$plt-database-arrow: "\eaa2";
$plt-database-time: "\eaa3";
$plt-database-time2: "\eaa4";
$plt-undo: "\eaa5";
$plt-redo: "\eaa6";
$plt-rotate-ccw: "\eaa7";
$plt-rotate-cw: "\eaa8";
$plt-rotate-ccw2: "\eaa9";
$plt-rotate-cw2: "\eaaa";
$plt-rotate-ccw3: "\eaab";
$plt-rotate-cw3: "\eaac";
$plt-flip-vertical: "\eaad";
$plt-flip-vertical2: "\eaae";
$plt-flip-horizontal: "\eaaf";
$plt-flip-horizontal2: "\eab0";
$plt-flip-vertical3: "\eab1";
$plt-flip-vertical4: "\eab2";
$plt-angle: "\eab3";
$plt-shear: "\eab4";
$plt-unite: "\eab5";
$plt-subtract: "\eab6";
$plt-interset: "\eab7";
$plt-exclude: "\eab8";
$plt-align-left: "\eab9";
$plt-align-center-horizontal: "\eaba";
$plt-align-right: "\eabb";
$plt-align-top: "\eabc";
$plt-align-center-vertical: "\eabd";
$plt-align-bottom: "\eabe";
$plt-undo2: "\eabf";
$plt-redo2: "\eac0";
$plt-forward: "\eac1";
$plt-reply: "\eac2";
$plt-reply-all: "\eac3";
$plt-bubble: "\eac4";
$plt-bubbles: "\eac5";
$plt-bubbles2: "\eac6";
$plt-bubble2: "\eac7";
$plt-bubbles3: "\eac8";
$plt-bubbles4: "\eac9";
$plt-bubble-notification: "\eaca";
$plt-bubbles5: "\eacb";
$plt-bubbles6: "\eacc";
$plt-bubble3: "\eacd";
$plt-bubble-dots: "\eace";
$plt-bubble-lines: "\eacf";
$plt-bubble4: "\ead0";
$plt-bubble-dots2: "\ead1";
$plt-bubble-lines2: "\ead2";
$plt-bubble5: "\ead3";
$plt-bubble6: "\ead4";
$plt-bubbles7: "\ead5";
$plt-bubble7: "\ead6";
$plt-bubbles8: "\ead7";
$plt-bubble8: "\ead8";
$plt-bubble-dots3: "\ead9";
$plt-bubble-lines3: "\eada";
$plt-bubble9: "\eadb";
$plt-bubble-dots4: "\eadc";
$plt-bubble-lines4: "\eadd";
$plt-bubbles9: "\eade";
$plt-bubbles10: "\eadf";
$plt-bubble-blocked: "\eae0";
$plt-bubble-quote: "\eae1";
$plt-bubble-user: "\eae2";
$plt-bubble-smiley: "\eae3";
$plt-bubble-check: "\eae4";
$plt-bubble-video: "\eae5";
$plt-bubble-link: "\eae6";
$plt-bubble-lock: "\eae7";
$plt-bubble-star: "\eae8";
$plt-bubble-heart: "\eae9";
$plt-bubble-paperclip: "\eaea";
$plt-bubble-cancel: "\eaeb";
$plt-bubble-plus: "\eaec";
$plt-bubble-minus: "\eaed";
$plt-bubble-notification2: "\eaee";
$plt-bubble-left: "\eaef";
$plt-bubble-right: "\eaf0";
$plt-bubble-first: "\eaf1";
$plt-bubble-last: "\eaf2";
$plt-bubble-reply: "\eaf3";
$plt-bubble-forward: "\eaf4";
$plt-bubble-reply2: "\eaf5";
$plt-bubble-forward2: "\eaf6";
$plt-user: "\eaf7";
$plt-users: "\eaf8";
$plt-user-plus: "\eaf9";
$plt-user-minus: "\eafa";
$plt-user-cancel: "\eafb";
$plt-user-block: "\eafc";
$plt-user-lock: "\eafd";
$plt-user-check: "\eafe";
$plt-users2: "\eaff";
$plt-user2: "\eb00";
$plt-users3: "\eb01";
$plt-user-plus2: "\eb02";
$plt-user-minus2: "\eb03";
$plt-user-cancel2: "\eb04";
$plt-user-block2: "\eb05";
$plt-user-lock2: "\eb06";
$plt-user-check2: "\eb07";
$plt-user3: "\eb08";
$plt-user4: "\eb09";
$plt-user5: "\eb0a";
$plt-user6: "\eb0b";
$plt-users4: "\eb0c";
$plt-user-tie: "\eb0d";
$plt-user7: "\eb0e";
$plt-users5: "\eb0f";
$plt-collaboration: "\eb10";
$plt-vcard: "\eb11";
$plt-hat: "\eb12";
$plt-bowtie: "\eb13";
$plt-tie: "\eb14";
$plt-hanger: "\eb15";
$plt-tshirt: "\eb16";
$plt-pants: "\eb17";
$plt-shorts: "\eb18";
$plt-sock: "\eb19";
$plt-laundry: "\eb1a";
$plt-quotes-left: "\eb1b";
$plt-quotes-right: "\eb1c";
$plt-quotes-left2: "\eb1d";
$plt-quotes-right2: "\eb1e";
$plt-hour-glass: "\eb1f";
$plt-hour-glass2: "\eb20";
$plt-hour-glass3: "\eb21";
$plt-spinner: "\eb22";
$plt-spinner2: "\eb23";
$plt-spinner3: "\eb24";
$plt-spinner4: "\eb25";
$plt-spinner5: "\eb26";
$plt-spinner6: "\eb27";
$plt-spinner7: "\eb28";
$plt-spinner8: "\eb29";
$plt-spinner9: "\eb2a";
$plt-spinner10: "\eb2b";
$plt-spinner11: "\eb2c";
$plt-microscope: "\eb2d";
$plt-binoculars: "\eb2e";
$plt-binoculars2: "\eb2f";
$plt-search: "\eb30";
$plt-zoom-in: "\eb31";
$plt-zoom-out: "\eb32";
$plt-search2: "\eb33";
$plt-zoom-in2: "\eb34";
$plt-zoom-out2: "\eb35";
$plt-search3: "\eb36";
$plt-search4: "\eb37";
$plt-zoom-in3: "\eb38";
$plt-zoom-out3: "\eb39";
$plt-search5: "\eb3a";
$plt-search6: "\eb3b";
$plt-enlarge: "\eb3c";
$plt-shrink: "\eb3d";
$plt-enlarge2: "\eb3e";
$plt-shrink2: "\eb3f";
$plt-enlarge3: "\eb40";
$plt-shrink3: "\eb41";
$plt-enlarge4: "\eb42";
$plt-shrink4: "\eb43";
$plt-enlarge5: "\eb44";
$plt-shrink5: "\eb45";
$plt-enlarge6: "\eb46";
$plt-shrink6: "\eb47";
$plt-enlarge7: "\eb48";
$plt-shrink7: "\eb49";
$plt-key: "\eb4a";
$plt-key2: "\eb4b";
$plt-key3: "\eb4c";
$plt-key4: "\eb4d";
$plt-key5: "\eb4e";
$plt-keyhole: "\eb4f";
$plt-lock: "\eb50";
$plt-lock2: "\eb51";
$plt-lock3: "\eb52";
$plt-lock4: "\eb53";
$plt-unlocked: "\eb54";
$plt-lock5: "\eb55";
$plt-unlocked2: "\eb56";
$plt-safe: "\eb57";
$plt-wrench: "\eb58";
$plt-wrench2: "\eb59";
$plt-wrench3: "\eb5a";
$plt-equalizer: "\eb5b";
$plt-equalizer2: "\eb5c";
$plt-equalizer3: "\eb5d";
$plt-equalizer4: "\eb5e";
$plt-cog: "\eb5f";
$plt-cogs: "\eb60";
$plt-cog2: "\eb61";
$plt-cog3: "\eb62";
$plt-cog4: "\eb63";
$plt-cog5: "\eb64";
$plt-cog6: "\eb65";
$plt-cog7: "\eb66";
$plt-factory: "\eb67";
$plt-hammer: "\eb68";
$plt-hammer-wrench: "\eb69";
$plt-knife: "\eb6a";
$plt-screwdriver: "\eb6b";
$plt-screwdriver2: "\eb6c";
$plt-magic-wand: "\eb6d";
$plt-magic-wand2: "\eb6e";
$plt-pulse: "\eb6f";
$plt-pulse2: "\eb70";
$plt-aid-kit: "\eb71";
$plt-aid-kit2: "\eb72";
$plt-stethoscope: "\eb73";
$plt-ambulance: "\eb74";
$plt-alarm2: "\eb75";
$plt-pandage: "\eb76";
$plt-pandage2: "\eb77";
$plt-bug: "\eb78";
$plt-bug2: "\eb79";
$plt-syringe: "\eb7a";
$plt-syringe2: "\eb7b";
$plt-pill: "\eb7c";
$plt-construction: "\eb7d";
$plt-traffic-cone: "\eb7e";
$plt-traffic-lights: "\eb7f";
$plt-pie-chart: "\eb80";
$plt-pie-chart2: "\eb81";
$plt-pie-chart3: "\eb82";
$plt-pie-chart4: "\eb83";
$plt-pie-chart5: "\eb84";
$plt-pie-chart6: "\eb85";
$plt-pie-chart7: "\eb86";
$plt-stats-dots: "\eb87";
$plt-stats-bars: "\eb88";
$plt-pie-chart8: "\eb89";
$plt-stats-bars2: "\eb8a";
$plt-stats-bars3: "\eb8b";
$plt-stats-bars4: "\eb8c";
$plt-stats-bars5: "\eb8d";
$plt-stats-bars6: "\eb8e";
$plt-chart: "\eb8f";
$plt-stats-growth: "\eb90";
$plt-stats-decline: "\eb91";
$plt-stats-growth2: "\eb92";
$plt-stats-decline2: "\eb93";
$plt-stairs-up: "\eb94";
$plt-stairs-down: "\eb95";
$plt-stairs: "\eb96";
$plt-stairs2: "\eb97";
$plt-ladder: "\eb98";
$plt-rating: "\eb99";
$plt-rating2: "\eb9a";
$plt-rating3: "\eb9b";
$plt-cake: "\eb9c";
$plt-podium: "\eb9d";
$plt-stars: "\eb9e";
$plt-medal-star: "\eb9f";
$plt-medal: "\eba0";
$plt-medal2: "\eba1";
$plt-medal-first: "\eba2";
$plt-medal-second: "\eba3";
$plt-medal-third: "\eba4";
$plt-crown: "\eba5";
$plt-trophy: "\eba6";
$plt-trophy2: "\eba7";
$plt-trophy3: "\eba8";
$plt-diamond: "\eba9";
$plt-diamond2: "\ebaa";
$plt-trophy4: "\ebab";
$plt-gift: "\ebac";
$plt-gift2: "\ebad";
$plt-balloon: "\ebae";
$plt-pipe: "\ebaf";
$plt-mustache: "\ebb0";
$plt-mustache2: "\ebb1";
$plt-glass: "\ebb2";
$plt-glass2: "\ebb3";
$plt-glass3: "\ebb4";
$plt-glass4: "\ebb5";
$plt-bottle: "\ebb6";
$plt-bottle2: "\ebb7";
$plt-bottle3: "\ebb8";
$plt-bottle4: "\ebb9";
$plt-mug: "\ebba";
$plt-fork-knife: "\ebbb";
$plt-spoon-knife: "\ebbc";
$plt-cook: "\ebbd";
$plt-plate: "\ebbe";
$plt-steak: "\ebbf";
$plt-fish: "\ebc0";
$plt-chicken: "\ebc1";
$plt-hamburger: "\ebc2";
$plt-pizza: "\ebc3";
$plt-cheese: "\ebc4";
$plt-bread: "\ebc5";
$plt-icecream: "\ebc6";
$plt-milk: "\ebc7";
$plt-cup: "\ebc8";
$plt-cup2: "\ebc9";
$plt-coffee-bean: "\ebca";
$plt-coffee: "\ebcb";
$plt-teapot: "\ebcc";
$plt-leaf: "\ebcd";
$plt-leaf2: "\ebce";
$plt-apple: "\ebcf";
$plt-grapes: "\ebd0";
$plt-cherry: "\ebd1";
$plt-tree: "\ebd2";
$plt-tree2: "\ebd3";
$plt-tree3: "\ebd4";
$plt-tree4: "\ebd5";
$plt-cactus: "\ebd6";
$plt-mountains: "\ebd7";
$plt-paw: "\ebd8";
$plt-footprint: "\ebd9";
$plt-tent: "\ebda";
$plt-flower: "\ebdb";
$plt-flower2: "\ebdc";
$plt-rocket: "\ebdd";
$plt-meter: "\ebde";
$plt-meter2: "\ebdf";
$plt-meter-slow: "\ebe0";
$plt-meter-medium: "\ebe1";
$plt-meter-fast: "\ebe2";
$plt-meter3: "\ebe3";
$plt-hammer2: "\ebe4";
$plt-balance: "\ebe5";
$plt-scale: "\ebe6";
$plt-bomb: "\ebe7";
$plt-fire: "\ebe8";
$plt-fire2: "\ebe9";
$plt-lab: "\ebea";
$plt-atom: "\ebeb";
$plt-atom2: "\ebec";
$plt-magnet: "\ebed";
$plt-magnet2: "\ebee";
$plt-dumbbell: "\ebef";
$plt-skull: "\ebf0";
$plt-skull2: "\ebf1";
$plt-lamp: "\ebf2";
$plt-lamp2: "\ebf3";
$plt-lamp3: "\ebf4";
$plt-spotlight: "\ebf5";
$plt-lamp4: "\ebf6";
$plt-lamp5: "\ebf7";
$plt-lamp6: "\ebf8";
$plt-lamp7: "\ebf9";
$plt-lamp8: "\ebfa";
$plt-broom: "\ebfb";
$plt-toiletpaper: "\ebfc";
$plt-bin: "\ebfd";
$plt-bin2: "\ebfe";
$plt-bin3: "\ebff";
$plt-bin4: "\ec00";
$plt-bin5: "\ec01";
$plt-briefcase: "\ec02";
$plt-briefcase2: "\ec03";
$plt-briefcase3: "\ec04";
$plt-airplane: "\ec05";
$plt-airplane2: "\ec06";
$plt-airplane3: "\ec07";
$plt-airplane4: "\ec08";
$plt-paperplane: "\ec09";
$plt-car: "\ec0a";
$plt-steering-wheel: "\ec0b";
$plt-car2: "\ec0c";
$plt-gas: "\ec0d";
$plt-bus: "\ec0e";
$plt-truck: "\ec0f";
$plt-bike: "\ec10";
$plt-road: "\ec11";
$plt-train: "\ec12";
$plt-train2: "\ec13";
$plt-ship: "\ec14";
$plt-boat: "\ec15";
$plt-chopper: "\ec16";
$plt-chopper2: "\ec17";
$plt-cube: "\ec18";
$plt-cube2: "\ec19";
$plt-cube3: "\ec1a";
$plt-cube4: "\ec1b";
$plt-pyramid: "\ec1c";
$plt-pyramid2: "\ec1d";
$plt-package: "\ec1e";
$plt-puzzle: "\ec1f";
$plt-puzzle2: "\ec20";
$plt-puzzle3: "\ec21";
$plt-puzzle4: "\ec22";
$plt-glasses-3d: "\ec23";
$plt-glasses-3d2: "\ec24";
$plt-glasses: "\ec25";
$plt-glasses2: "\ec26";
$plt-brain: "\ec27";
$plt-accessibility: "\ec28";
$plt-accessibility2: "\ec29";
$plt-strategy: "\ec2a";
$plt-target: "\ec2b";
$plt-target2: "\ec2c";
$plt-target3: "\ec2d";
$plt-ammo: "\ec2e";
$plt-gun: "\ec2f";
$plt-gun-forbidden: "\ec30";
$plt-shield: "\ec31";
$plt-shield-check: "\ec32";
$plt-shield-notice: "\ec33";
$plt-shield2: "\ec34";
$plt-shield3: "\ec35";
$plt-shield4: "\ec36";
$plt-soccer: "\ec37";
$plt-football: "\ec38";
$plt-archery: "\ec39";
$plt-bow: "\ec3a";
$plt-sword: "\ec3b";
$plt-tennis: "\ec3c";
$plt-pingpong: "\ec3d";
$plt-baseball: "\ec3e";
$plt-basketball: "\ec3f";
$plt-golf: "\ec40";
$plt-golf2: "\ec41";
$plt-hockey: "\ec42";
$plt-racing: "\ec43";
$plt-finish: "\ec44";
$plt-eight-ball: "\ec45";
$plt-bowling: "\ec46";
$plt-bowling2: "\ec47";
$plt-power: "\ec48";
$plt-power2: "\ec49";
$plt-power3: "\ec4a";
$plt-switch: "\ec4b";
$plt-switch2: "\ec4c";
$plt-power-cord: "\ec4d";
$plt-power-cord2: "\ec4e";
$plt-outlet: "\ec4f";
$plt-clipboard: "\ec50";
$plt-clipboard2: "\ec51";
$plt-clipboard3: "\ec52";
$plt-clipboard4: "\ec53";
$plt-clipboard5: "\ec54";
$plt-clipboard6: "\ec55";
$plt-playlist: "\ec56";
$plt-playlist-add: "\ec57";
$plt-list-numbered: "\ec58";
$plt-list: "\ec59";
$plt-list2: "\ec5a";
$plt-more: "\ec5b";
$plt-more2: "\ec5c";
$plt-grid: "\ec5d";
$plt-grid2: "\ec5e";
$plt-grid3: "\ec5f";
$plt-grid4: "\ec60";
$plt-grid5: "\ec61";
$plt-grid6: "\ec62";
$plt-grid7: "\ec63";
$plt-tree5: "\ec64";
$plt-tree6: "\ec65";
$plt-tree7: "\ec66";
$plt-lan: "\ec67";
$plt-lan2: "\ec68";
$plt-lan3: "\ec69";
$plt-menu: "\ec6a";
$plt-circle-small: "\ec6b";
$plt-menu2: "\ec6c";
$plt-menu3: "\ec6d";
$plt-menu4: "\ec6e";
$plt-menu5: "\ec6f";
$plt-menu6: "\ec70";
$plt-menu7: "\ec71";
$plt-menu8: "\ec72";
$plt-menu9: "\ec73";
$plt-menu10: "\ec74";
$plt-cloud: "\ec75";
$plt-cloud-download: "\ec76";
$plt-cloud-upload: "\ec77";
$plt-cloud-check: "\ec78";
$plt-cloud2: "\ec79";
$plt-cloud-download2: "\ec7a";
$plt-cloud-upload2: "\ec7b";
$plt-cloud-check2: "\ec7c";
$plt-download2: "\ec7d";
$plt-download3: "\ec7e";
$plt-upload2: "\ec7f";
$plt-upload3: "\ec80";
$plt-import: "\ec81";
$plt-import2: "\ec82";
$plt-download4: "\ec83";
$plt-upload4: "\ec84";
$plt-download5: "\ec85";
$plt-upload5: "\ec86";
$plt-download6: "\ec87";
$plt-upload6: "\ec88";
$plt-download7: "\ec89";
$plt-upload7: "\ec8a";
$plt-download8: "\ec8b";
$plt-upload8: "\ec8c";
$plt-download9: "\ec8d";
$plt-upload9: "\ec8e";
$plt-download10: "\ec8f";
$plt-upload10: "\ec90";
$plt-sphere: "\ec91";
$plt-sphere2: "\ec92";
$plt-sphere3: "\ec93";
$plt-planet: "\ec94";
$plt-planet2: "\ec95";
$plt-earth: "\ec96";
$plt-earth2: "\ec97";
$plt-earth3: "\ec98";
$plt-link: "\ec99";
$plt-unlink: "\ec9a";
$plt-link2: "\ec9b";
$plt-unlink2: "\ec9c";
$plt-link3: "\ec9d";
$plt-unlink3: "\ec9e";
$plt-link4: "\ec9f";
$plt-unlink4: "\eca0";
$plt-link5: "\eca1";
$plt-unlink5: "\eca2";
$plt-anchor: "\eca3";
$plt-flag: "\eca4";
$plt-flag2: "\eca5";
$plt-flag3: "\eca6";
$plt-flag4: "\eca7";
$plt-flag5: "\eca8";
$plt-flag6: "\eca9";
$plt-flag7: "\ecaa";
$plt-flag8: "\ecab";
$plt-attachment: "\ecac";
$plt-attachment2: "\ecad";
$plt-eye: "\ecae";
$plt-eye-plus: "\ecaf";
$plt-eye-minus: "\ecb0";
$plt-eye-blocked: "\ecb1";
$plt-eye2: "\ecb2";
$plt-eye-blocked2: "\ecb3";
$plt-eye3: "\ecb4";
$plt-eye-blocked3: "\ecb5";
$plt-eye4: "\ecb6";
$plt-bookmark2: "\ecb7";
$plt-bookmark3: "\ecb8";
$plt-bookmarks: "\ecb9";
$plt-bookmark4: "\ecba";
$plt-spotlight2: "\ecbb";
$plt-starburst: "\ecbc";
$plt-snowflake: "\ecbd";
$plt-temperature: "\ecbe";
$plt-temperature2: "\ecbf";
$plt-weather-lightning: "\ecc0";
$plt-weather-lightning2: "\ecc1";
$plt-weather-rain: "\ecc2";
$plt-weather-rain2: "\ecc3";
$plt-weather-snow: "\ecc4";
$plt-weather-snow2: "\ecc5";
$plt-weather-cloud-wind: "\ecc6";
$plt-weather-cloud-wind2: "\ecc7";
$plt-weather-cloud-sun: "\ecc8";
$plt-weather-cloud-sun2: "\ecc9";
$plt-weather-cloudy: "\ecca";
$plt-weather-cloudy2: "\eccb";
$plt-weather-sun-wind: "\eccc";
$plt-weather-sun-wind2: "\eccd";
$plt-sun: "\ecce";
$plt-sun2: "\eccf";
$plt-moon: "\ecd0";
$plt-day-night: "\ecd1";
$plt-day-night2: "\ecd2";
$plt-weather-windy: "\ecd3";
$plt-fan: "\ecd4";
$plt-umbrella: "\ecd5";
$plt-sun3: "\ecd6";
$plt-contrast: "\ecd7";
$plt-brightness-contrast: "\ecd8";
$plt-brightness-high: "\ecd9";
$plt-brightness-medium: "\ecda";
$plt-brightness-low: "\ecdb";
$plt-bed: "\ecdc";
$plt-bed2: "\ecdd";
$plt-furniture: "\ecde";
$plt-chair: "\ecdf";
$plt-star-empty: "\ece0";
$plt-star-empty2: "\ece1";
$plt-star-full: "\ece2";
$plt-star-empty3: "\ece3";
$plt-star-half: "\ece4";
$plt-star-full2: "\ece5";
$plt-star: "\ece6";
$plt-heart: "\ece7";
$plt-heart2: "\ece8";
$plt-heart3: "\ece9";
$plt-heart4: "\ecea";
$plt-heart-broken: "\eceb";
$plt-heart5: "\ecec";
$plt-heart6: "\eced";
$plt-heart-broken2: "\ecee";
$plt-heart7: "\ecef";
$plt-heart8: "\ecf0";
$plt-heart-broken3: "\ecf1";
$plt-lips: "\ecf2";
$plt-lips2: "\ecf3";
$plt-thumbs-up: "\ecf4";
$plt-thumbs-up2: "\ecf5";
$plt-thumbs-down: "\ecf6";
$plt-thumbs-down2: "\ecf7";
$plt-thumbs-up3: "\ecf8";
$plt-thumbs-down3: "\ecf9";
$plt-height: "\ecfa";
$plt-man: "\ecfb";
$plt-woman: "\ecfc";
$plt-man-woman: "\ecfd";
$plt-male: "\ecfe";
$plt-female: "\ecff";
$plt-peace: "\ed00";
$plt-yin-yang: "\ed01";
$plt-happy: "\ed02";
$plt-happy2: "\ed03";
$plt-smile: "\ed04";
$plt-smile2: "\ed05";
$plt-tongue: "\ed06";
$plt-tongue2: "\ed07";
$plt-sad: "\ed08";
$plt-sad2: "\ed09";
$plt-wink: "\ed0a";
$plt-wink2: "\ed0b";
$plt-grin: "\ed0c";
$plt-grin2: "\ed0d";
$plt-cool: "\ed0e";
$plt-cool2: "\ed0f";
$plt-angry: "\ed10";
$plt-angry2: "\ed11";
$plt-evil: "\ed12";
$plt-evil2: "\ed13";
$plt-shocked: "\ed14";
$plt-shocked2: "\ed15";
$plt-baffled: "\ed16";
$plt-baffled2: "\ed17";
$plt-confused: "\ed18";
$plt-confused2: "\ed19";
$plt-neutral: "\ed1a";
$plt-neutral2: "\ed1b";
$plt-hipster: "\ed1c";
$plt-hipster2: "\ed1d";
$plt-wondering: "\ed1e";
$plt-wondering2: "\ed1f";
$plt-sleepy: "\ed20";
$plt-sleepy2: "\ed21";
$plt-frustrated: "\ed22";
$plt-frustrated2: "\ed23";
$plt-crying: "\ed24";
$plt-crying2: "\ed25";
$plt-cursor: "\ed26";
$plt-cursor2: "\ed27";
$plt-lasso: "\ed28";
$plt-lasso2: "\ed29";
$plt-select: "\ed2a";
$plt-select2: "\ed2b";
$plt-point-up: "\ed2c";
$plt-point-right: "\ed2d";
$plt-point-down: "\ed2e";
$plt-point-left: "\ed2f";
$plt-pointer: "\ed30";
$plt-reminder: "\ed31";
$plt-drag-left-right: "\ed32";
$plt-drag-left: "\ed33";
$plt-drag-right: "\ed34";
$plt-touch: "\ed35";
$plt-multitouch: "\ed36";
$plt-touch-zoom: "\ed37";
$plt-touch-pinch: "\ed38";
$plt-hand: "\ed39";
$plt-grab: "\ed3a";
$plt-stack-empty: "\ed3b";
$plt-stack-plus: "\ed3c";
$plt-stack-minus: "\ed3d";
$plt-stack-star: "\ed3e";
$plt-stack-picture: "\ed3f";
$plt-stack-down: "\ed40";
$plt-stack-up: "\ed41";
$plt-stack-cancel: "\ed42";
$plt-stack-check: "\ed43";
$plt-stack-text: "\ed44";
$plt-stack-clubs: "\ed45";
$plt-stack-spades: "\ed46";
$plt-stack-hearts: "\ed47";
$plt-stack-diamonds: "\ed48";
$plt-stack-user: "\ed49";
$plt-stack4: "\ed4a";
$plt-stack-music: "\ed4b";
$plt-stack-play: "\ed4c";
$plt-move: "\ed4d";
$plt-dots: "\ed4e";
$plt-warning: "\ed4f";
$plt-warning2: "\ed50";
$plt-notification: "\ed51";
$plt-notification2: "\ed52";
$plt-question: "\ed53";
$plt-question2: "\ed54";
$plt-question3: "\ed55";
$plt-question4: "\ed56";
$plt-question5: "\ed57";
$plt-question6: "\ed58";
$plt-plus: "\ed59";
$plt-minus: "\ed5a";
$plt-plus2: "\ed5b";
$plt-minus2: "\ed5c";
$plt-plus3: "\ed5d";
$plt-minus3: "\ed5e";
$plt-plus-circle: "\ed5f";
$plt-minus-circle: "\ed60";
$plt-plus-circle2: "\ed61";
$plt-minus-circle2: "\ed62";
$plt-info: "\ed63";
$plt-info2: "\ed64";
$plt-cancel-circle: "\ed65";
$plt-cancel-circle2: "\ed66";
$plt-blocked: "\ed67";
$plt-cancel-square: "\ed68";
$plt-cancel-square2: "\ed69";
$plt-cancel: "\ed6a";
$plt-spam: "\ed6b";
$plt-cross: "\ed6c";
$plt-cross2: "\ed6d";
$plt-cross3: "\ed6e";
$plt-checkmark: "\ed6f";
$plt-checkmark2: "\ed70";
$plt-checkmark3: "\ed71";
$plt-checkmark4: "\ed72";
$plt-checkmark5: "\ed73";
$plt-spell-check: "\ed74";
$plt-spell-check2: "\ed75";
$plt-enter: "\ed76";
$plt-exit: "\ed77";
$plt-enter2: "\ed78";
$plt-exit2: "\ed79";
$plt-enter3: "\ed7a";
$plt-exit3: "\ed7b";
$plt-wall: "\ed7c";
$plt-fence: "\ed7d";
$plt-play3: "\ed7e";
$plt-pause: "\ed7f";
$plt-stop: "\ed80";
$plt-previous: "\ed81";
$plt-next: "\ed82";
$plt-backward: "\ed83";
$plt-forward2: "\ed84";
$plt-play4: "\ed85";
$plt-pause2: "\ed86";
$plt-stop2: "\ed87";
$plt-backward2: "\ed88";
$plt-forward3: "\ed89";
$plt-first: "\ed8a";
$plt-last: "\ed8b";
$plt-previous2: "\ed8c";
$plt-next2: "\ed8d";
$plt-eject: "\ed8e";
$plt-volume-high: "\ed8f";
$plt-volume-medium: "\ed90";
$plt-volume-low: "\ed91";
$plt-volume-mute: "\ed92";
$plt-speaker-left: "\ed93";
$plt-speaker-right: "\ed94";
$plt-volume-mute2: "\ed95";
$plt-volume-increase: "\ed96";
$plt-volume-decrease: "\ed97";
$plt-volume-high2: "\ed98";
$plt-volume-medium2: "\ed99";
$plt-volume-medium3: "\ed9a";
$plt-volume-low2: "\ed9b";
$plt-volume-mute3: "\ed9c";
$plt-volume-increase2: "\ed9d";
$plt-volume-decrease2: "\ed9e";
$plt-volume-decrease3: "\ed9f";
$plt-volume-5: "\eda0";
$plt-volume-4: "\eda1";
$plt-volume-3: "\eda2";
$plt-volume-2: "\eda3";
$plt-volume-1: "\eda4";
$plt-volume-0: "\eda5";
$plt-volume-mute4: "\eda6";
$plt-volume-mute5: "\eda7";
$plt-loop: "\eda8";
$plt-loop2: "\eda9";
$plt-loop3: "\edaa";
$plt-infinite-square: "\edab";
$plt-infinite: "\edac";
$plt-infinite2: "\edad";
$plt-loop4: "\edae";
$plt-shuffle: "\edaf";
$plt-shuffle2: "\edb0";
$plt-wave: "\edb1";
$plt-wave2: "\edb2";
$plt-split: "\edb3";
$plt-merge: "\edb4";
$plt-first2: "\edb5";
$plt-last2: "\edb6";
$plt-arrow-up: "\edb7";
$plt-arrow-up2: "\edb8";
$plt-arrow-up3: "\edb9";
$plt-arrow-up4: "\edba";
$plt-arrow-right: "\edbb";
$plt-arrow-right2: "\edbc";
$plt-arrow-right3: "\edbd";
$plt-arrow-right4: "\edbe";
$plt-arrow-down: "\edbf";
$plt-arrow-down2: "\edc0";
$plt-arrow-down3: "\edc1";
$plt-arrow-down4: "\edc2";
$plt-arrow-left: "\edc3";
$plt-arrow-left2: "\edc4";
$plt-arrow-left3: "\edc5";
$plt-arrow-left4: "\edc6";
$plt-arrow-up5: "\edc7";
$plt-arrow-right5: "\edc8";
$plt-arrow-down5: "\edc9";
$plt-arrow-left5: "\edca";
$plt-arrow-up-left: "\edcb";
$plt-arrow-up6: "\edcc";
$plt-arrow-up-right: "\edcd";
$plt-arrow-right6: "\edce";
$plt-arrow-down-right: "\edcf";
$plt-arrow-down6: "\edd0";
$plt-arrow-down-left: "\edd1";
$plt-arrow-left6: "\edd2";
$plt-arrow-up-left2: "\edd3";
$plt-arrow-up7: "\edd4";
$plt-arrow-up-right2: "\edd5";
$plt-arrow-right7: "\edd6";
$plt-arrow-down-right2: "\edd7";
$plt-arrow-down7: "\edd8";
$plt-arrow-down-left2: "\edd9";
$plt-arrow-left7: "\edda";
$plt-arrow-up-left3: "\eddb";
$plt-arrow-up8: "\eddc";
$plt-arrow-up-right3: "\eddd";
$plt-arrow-right8: "\edde";
$plt-arrow-down-right3: "\eddf";
$plt-arrow-down8: "\ede0";
$plt-arrow-down-left3: "\ede1";
$plt-arrow-left8: "\ede2";
$plt-circle-up: "\ede3";
$plt-circle-right: "\ede4";
$plt-circle-down: "\ede5";
$plt-circle-left: "\ede6";
$plt-circle-up2: "\ede7";
$plt-circle-right2: "\ede8";
$plt-circle-down2: "\ede9";
$plt-circle-left2: "\edea";
$plt-circle-up-left: "\edeb";
$plt-circle-up3: "\edec";
$plt-circle-up-right: "\eded";
$plt-circle-right3: "\edee";
$plt-circle-down-right: "\edef";
$plt-circle-down3: "\edf0";
$plt-circle-down-left: "\edf1";
$plt-circle-left3: "\edf2";
$plt-circle-up-left2: "\edf3";
$plt-circle-up4: "\edf4";
$plt-circle-up-right2: "\edf5";
$plt-circle-right4: "\edf6";
$plt-circle-down-right2: "\edf7";
$plt-circle-down4: "\edf8";
$plt-circle-down-left2: "\edf9";
$plt-circle-left4: "\edfa";
$plt-arrow-resize: "\edfb";
$plt-arrow-resize2: "\edfc";
$plt-arrow-resize3: "\edfd";
$plt-arrow-resize4: "\edfe";
$plt-arrow-resize5: "\edff";
$plt-arrow-resize6: "\ee00";
$plt-arrow-resize7: "\ee01";
$plt-arrow-resize8: "\ee02";
$plt-square-up-left: "\ee03";
$plt-square-up: "\ee04";
$plt-square-up-right: "\ee05";
$plt-square-right: "\ee06";
$plt-square-down-right: "\ee07";
$plt-square-down: "\ee08";
$plt-square-down-left: "\ee09";
$plt-square-left: "\ee0a";
$plt-arrow-up9: "\ee0b";
$plt-arrow-right9: "\ee0c";
$plt-arrow-down9: "\ee0d";
$plt-arrow-left9: "\ee0e";
$plt-arrow-up10: "\ee0f";
$plt-arrow-right10: "\ee10";
$plt-arrow-down10: "\ee11";
$plt-arrow-left10: "\ee12";
$plt-arrow-up-left4: "\ee13";
$plt-arrow-up11: "\ee14";
$plt-arrow-up-right4: "\ee15";
$plt-arrow-right11: "\ee16";
$plt-arrow-down-right4: "\ee17";
$plt-arrow-down11: "\ee18";
$plt-arrow-down-left4: "\ee19";
$plt-arrow-left11: "\ee1a";
$plt-arrow-up-left5: "\ee1b";
$plt-arrow-up12: "\ee1c";
$plt-arrow-up-right5: "\ee1d";
$plt-arrow-right12: "\ee1e";
$plt-arrow-down-right5: "\ee1f";
$plt-arrow-down12: "\ee20";
$plt-arrow-down-left5: "\ee21";
$plt-arrow-left12: "\ee22";
$plt-arrow-up13: "\ee23";
$plt-arrow-right13: "\ee24";
$plt-arrow-down13: "\ee25";
$plt-arrow-left13: "\ee26";
$plt-arrow-up14: "\ee27";
$plt-arrow-right14: "\ee28";
$plt-arrow-down14: "\ee29";
$plt-arrow-left14: "\ee2a";
$plt-circle-up5: "\ee2b";
$plt-circle-right5: "\ee2c";
$plt-circle-down5: "\ee2d";
$plt-circle-left5: "\ee2e";
$plt-circle-up6: "\ee2f";
$plt-circle-right6: "\ee30";
$plt-circle-down6: "\ee31";
$plt-circle-left6: "\ee32";
$plt-arrow-up15: "\ee33";
$plt-arrow-right15: "\ee34";
$plt-arrow-down15: "\ee35";
$plt-arrow-left15: "\ee36";
$plt-arrow-up16: "\ee37";
$plt-arrow-right16: "\ee38";
$plt-arrow-down16: "\ee39";
$plt-arrow-left16: "\ee3a";
$plt-menu-open: "\ee3b";
$plt-menu-open2: "\ee3c";
$plt-menu-close: "\ee3d";
$plt-menu-close2: "\ee3e";
$plt-enter4: "\ee3f";
$plt-enter5: "\ee40";
$plt-esc: "\ee41";
$plt-enter6: "\ee42";
$plt-backspace: "\ee43";
$plt-backspace2: "\ee44";
$plt-tab: "\ee45";
$plt-transmission: "\ee46";
$plt-transmission2: "\ee47";
$plt-sort: "\ee48";
$plt-sort2: "\ee49";
$plt-move-up: "\ee4a";
$plt-move-down: "\ee4b";
$plt-sort-alpha-asc: "\ee4c";
$plt-sort-alpha-desc: "\ee4d";
$plt-sort-numeric-asc: "\ee4e";
$plt-sort-numberic-desc: "\ee4f";
$plt-sort-amount-asc: "\ee50";
$plt-sort-amount-desc: "\ee51";
$plt-sort-time-asc: "\ee52";
$plt-sort-time-desc: "\ee53";
$plt-battery-6: "\ee54";
$plt-battery-5: "\ee55";
$plt-battery-4: "\ee56";
$plt-battery-3: "\ee57";
$plt-battery-2: "\ee58";
$plt-battery-1: "\ee59";
$plt-battery-0: "\ee5a";
$plt-battery-charging: "\ee5b";
$plt-key-keyboard: "\ee5c";
$plt-key-A: "\ee5d";
$plt-key-up: "\ee5e";
$plt-key-right: "\ee5f";
$plt-key-down: "\ee60";
$plt-key-left: "\ee61";
$plt-command: "\ee62";
$plt-shift: "\ee63";
$plt-ctrl: "\ee64";
$plt-opt: "\ee65";
$plt-checkbox-checked: "\ee66";
$plt-checkbox-unchecked: "\ee67";
$plt-checkbox-partial: "\ee68";
$plt-square: "\ee69";
$plt-triangle: "\ee6a";
$plt-triangle2: "\ee6b";
$plt-diamond3: "\ee6c";
$plt-diamond4: "\ee6d";
$plt-checkbox-checked2: "\ee6e";
$plt-checkbox-unchecked2: "\ee6f";
$plt-checkbox-partial2: "\ee70";
$plt-radio-checked: "\ee71";
$plt-radio-checked2: "\ee72";
$plt-radio-unchecked: "\ee73";
$plt-toggle-on: "\ee74";
$plt-toggle-off: "\ee75";
$plt-checkmark-circle: "\ee76";
$plt-circle: "\ee77";
$plt-circle2: "\ee78";
$plt-circles: "\ee79";
$plt-circles2: "\ee7a";
$plt-crop: "\ee7b";
$plt-crop2: "\ee7c";
$plt-make-group: "\ee7d";
$plt-ungroup: "\ee7e";
$plt-vector: "\ee7f";
$plt-vector2: "\ee80";
$plt-rulers: "\ee81";
$plt-ruler: "\ee82";
$plt-pencil-ruler: "\ee83";
$plt-scissors: "\ee84";
$plt-scissors2: "\ee85";
$plt-scissors3: "\ee86";
$plt-haircut: "\ee87";
$plt-comb: "\ee88";
$plt-filter: "\ee89";
$plt-filter2: "\ee8a";
$plt-filter3: "\ee8b";
$plt-filter4: "\ee8c";
$plt-font: "\ee8d";
$plt-ampersand: "\ee8e";
$plt-ligature: "\ee8f";
$plt-ligature2: "\ee90";
$plt-font-size: "\ee91";
$plt-typography: "\ee92";
$plt-text-height: "\ee93";
$plt-text-width: "\ee94";
$plt-height2: "\ee95";
$plt-width: "\ee96";
$plt-bold: "\ee97";
$plt-underline: "\ee98";
$plt-italic: "\ee99";
$plt-strikethrough: "\ee9a";
$plt-strikethrough2: "\ee9b";
$plt-font-size2: "\ee9c";
$plt-bold2: "\ee9d";
$plt-underline2: "\ee9e";
$plt-italic2: "\ee9f";
$plt-strikethrough3: "\eea0";
$plt-omega: "\eea1";
$plt-sigma: "\eea2";
$plt-nbsp: "\eea3";
$plt-page-break: "\eea4";
$plt-page-break2: "\eea5";
$plt-superscript: "\eea6";
$plt-subscript: "\eea7";
$plt-superscript2: "\eea8";
$plt-subscript2: "\eea9";
$plt-text-color: "\eeaa";
$plt-highlight: "\eeab";
$plt-pagebreak: "\eeac";
$plt-clear-formatting: "\eead";
$plt-table: "\eeae";
$plt-table2: "\eeaf";
$plt-insert-template: "\eeb0";
$plt-pilcrow: "\eeb1";
$plt-ltr: "\eeb2";
$plt-rtl: "\eeb3";
$plt-ltr2: "\eeb4";
$plt-rtl2: "\eeb5";
$plt-section: "\eeb6";
$plt-paragraph-left: "\eeb7";
$plt-paragraph-center: "\eeb8";
$plt-paragraph-right: "\eeb9";
$plt-paragraph-justify: "\eeba";
$plt-paragraph-left2: "\eebb";
$plt-paragraph-center2: "\eebc";
$plt-paragraph-right2: "\eebd";
$plt-paragraph-justify2: "\eebe";
$plt-indent-increase: "\eebf";
$plt-indent-decrease: "\eec0";
$plt-paragraph-left3: "\eec1";
$plt-paragraph-center3: "\eec2";
$plt-paragraph-right3: "\eec3";
$plt-paragraph-justify3: "\eec4";
$plt-indent-increase2: "\eec5";
$plt-indent-decrease2: "\eec6";
$plt-share: "\eec7";
$plt-share2: "\eec8";
$plt-new-tab: "\eec9";
$plt-new-tab2: "\eeca";
$plt-popout: "\eecb";
$plt-embed: "\eecc";
$plt-embed2: "\eecd";
$plt-markup: "\eece";
$plt-regexp: "\eecf";
$plt-regexp2: "\eed0";
$plt-code: "\eed1";
$plt-circle-css: "\eed2";
$plt-circle-code: "\eed3";
$plt-terminal: "\eed4";
$plt-unicode: "\eed5";
$plt-seven-segment-0: "\eed6";
$plt-seven-segment-1: "\eed7";
$plt-seven-segment-2: "\eed8";
$plt-seven-segment-3: "\eed9";
$plt-seven-segment-4: "\eeda";
$plt-seven-segment-5: "\eedb";
$plt-seven-segment-6: "\eedc";
$plt-seven-segment-7: "\eedd";
$plt-seven-segment-8: "\eede";
$plt-seven-segment-9: "\eedf";
$plt-share3: "\eee0";
$plt-share4: "\eee1";
$plt-mail: "\eee2";
$plt-mail2: "\eee3";
$plt-mail3: "\eee4";
$plt-mail4: "\eee5";
$plt-amazon: "\eee6";
$plt-google: "\eee7";
$plt-google2: "\eee8";
$plt-google3: "\eee9";
$plt-google-plus: "\eeea";
$plt-google-plus2: "\eeeb";
$plt-google-plus3: "\eeec";
$plt-hangouts: "\eeed";
$plt-google-drive: "\eeee";
$plt-facebook: "\eeef";
$plt-facebook2: "\eef0";
$plt-instagram: "\eef1";
$plt-whatsapp: "\eef2";
$plt-spotify: "\eef3";
$plt-telegram: "\eef4";
$plt-twitter: "\eef5";
$plt-vine: "\eef6";
$plt-vk: "\eef7";
$plt-renren: "\eef8";
$plt-sina-weibo: "\eef9";
$plt-rss: "\eefa";
$plt-rss2: "\eefb";
$plt-youtube: "\eefc";
$plt-youtube2: "\eefd";
$plt-twitch: "\eefe";
$plt-vimeo: "\eeff";
$plt-vimeo2: "\ef00";
$plt-lanyrd: "\ef01";
$plt-flickr: "\ef02";
$plt-flickr2: "\ef03";
$plt-flickr3: "\ef04";
$plt-flickr4: "\ef05";
$plt-dribbble: "\ef06";
$plt-behance: "\ef07";
$plt-behance2: "\ef08";
$plt-deviantart: "\ef09";
$plt-500px: "\ef0a";
$plt-steam: "\ef0b";
$plt-steam2: "\ef0c";
$plt-dropbox: "\ef0d";
$plt-onedrive: "\ef0e";
$plt-github: "\ef0f";
$plt-npm: "\ef10";
$plt-basecamp: "\ef11";
$plt-trello: "\ef12";
$plt-wordpress: "\ef13";
$plt-joomla: "\ef14";
$plt-ello: "\ef15";
$plt-blogger: "\ef16";
$plt-blogger2: "\ef17";
$plt-tumblr: "\ef18";
$plt-tumblr2: "\ef19";
$plt-yahoo: "\ef1a";
$plt-yahoo2: "\ef1b";
$plt-tux: "\ef1c";
$plt-appleinc: "\ef1d";
$plt-finder: "\ef1e";
$plt-android: "\ef1f";
$plt-windows: "\ef20";
$plt-windows8: "\ef21";
$plt-soundcloud: "\ef22";
$plt-soundcloud2: "\ef23";
$plt-skype: "\ef24";
$plt-reddit: "\ef25";
$plt-hackernews: "\ef26";
$plt-wikipedia: "\ef27";
$plt-linkedin: "\ef28";
$plt-linkedin2: "\ef29";
$plt-lastfm: "\ef2a";
$plt-lastfm2: "\ef2b";
$plt-delicious: "\ef2c";
$plt-stumbleupon: "\ef2d";
$plt-stumbleupon2: "\ef2e";
$plt-stackoverflow: "\ef2f";
$plt-pinterest: "\ef30";
$plt-pinterest2: "\ef31";
$plt-xing: "\ef32";
$plt-xing2: "\ef33";
$plt-flattr: "\ef34";
$plt-foursquare: "\ef35";
$plt-yelp: "\ef36";
$plt-paypal: "\ef37";
$plt-chrome: "\ef38";
$plt-firefox: "\ef39";
$plt-IE: "\ef3a";
$plt-edge: "\ef3b";
$plt-safari: "\ef3c";
$plt-opera: "\ef3d";
$plt-file-pdf: "\ef3e";
$plt-file-openoffice: "\ef3f";
$plt-file-word: "\ef40";
$plt-file-excel: "\ef41";
$plt-libreoffice: "\ef42";
$plt-html-five: "\ef43";
$plt-html-five2: "\ef44";
$plt-css3: "\ef45";
$plt-git: "\ef46";
$plt-codepen: "\ef47";
$plt-svg: "\ef48";
$plt-IcoMoon: "\ef49";

