/**
 * register & login styles
 */
.login {
  background:#F7F7F7;
}
/*
.login .fa-paw {
  font-size: 26px;
}
a.hiddenanchor {
  display: none;
}
*/
.register_wrapper, 
.login_wrapper, 
.lostpassword_wrapper {
  right: 0px;
  margin: 0px auto;
  margin-top: 5%;
  max-width: 350px;
  position: relative;
}
.registration_form, 
.login_form, 
.lostpassword_form {
  /* position: absolute; */
  top: 0px;
  width: 100%;
}
.registration_form {
  z-index: $zi_registration_form;
/*  opacity: 1;
  width: 100%; */
}
.login_form, 
.lostpassword_form {
  z-index: $zi_login_form;
}
/*
#signup:target ~ .login_wrapper .registration_form, 
#signin:target ~ .login_wrapper .login_form {
  z-index: $zi_login_form;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  -ms-animation-delay: .1s;
  animation-delay: .1s;
}
#signup:target ~ .login_wrapper .login_form, 
#signin:target ~ .login_wrapper .registration_form {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}
.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
*/
/*
.login_box {
  padding: 20px;
  margin: auto;
}
.left {
  float: left;
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
*/
.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.register_content, 
.login_content, 
.lostpassword_content {
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  min-width: 280px;

  a, .btn-default:hover {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    position: relative;
    font: normal 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
  }
  h1:before, h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 18%;
  }
  h1:after {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0;
  }
  h1:before {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
  }
  #loginform, #registerform, #lostpasswordform {
    margin: 20px 0;
    position: relative

    input[type="text"], 
    input[type="email"], 
    input[type="password"] {
      border-radius: 3px;
      box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
      border: 1px solid #c8c8c8;
      color: #777;
      margin: 0 0 20px;
      width: 100%;
    }

    input[type="text"]:focus, 
    input[type="email"]:focus, 
    input[type="password"]:focus {
      box-shadow: 0 0 2px #A97AAD inset;
      background-color: #fff;
      border: 1px solid #A878AF;
      outline: none;
    }

    #username {
      background-position: 10px 10px !important
    }
    #password {
      background-position: 10px -53px !important
    }

    div a {
      font-size: 12px;
      margin: 10px 15px 0 0;
    }
  }

  #toggle-password {
    border-left: 0px solid transparent;
    color: $gray;
    
    &:hover, &:active, &:focus {
      background-color: $lavender_ice;
      border-color: #CCC;
      color: $moss_gray;
    }
    
    &.shown {
      color: $meadow;
    }
  }

  .reset_pass {
    margin-top: 10px !important;
  }

  div .reset_pass {
    margin-top: 13px !important;
    margin-right: 39px;
    float: right;
  }
}
.separator {
  border-top: 1px solid #D8D8D8;
  margin-top: 10px;
  padding-top: 10px;
}
/*
.button {
  background: rgb(247, 249, 250);
  background: -moz-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -o-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -ms-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #CFD5D9;
  padding: 15px 0;
}
*/
.login_content form input[type="submit"], 
#content form .submit {
  float: left;
  margin-left: 38px;
}
/*
.button a {
  background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
  color: #7E7E7E;
  font-size: 17px;
  padding: 2px 0 2px 40px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button a:hover {
  background-position: 0 -135px;
  color: #00aeef;
}
header {
  width: 100%;
}
*/
