.form_wizard {
  display: block;
  position: relative;
  margin: 0 27px 0 0;
  padding: 0;
  border: 0 solid transparent;
  overflow: hidden;
}

/* -- wizard_horizontal -- */

.wizard_horizontal> .wizard_steps_container {
  position: relative;
  padding-bottom: 15px;
  margin: 15px auto;
  overflow-x: scroll;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; /* center; */
  align-items: stretch;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps> li {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  text-align: center;
  min-width: 160px;
  padding: 20px 0;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity= 100);
  opacity: 1;
  color: $gray;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator:before, 
.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator:after {
  content: "";
  position: absolute;
  height: 4px;
  background: $gray;
  top: 26px;
  width: 50%;
  z-index: 4;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator:before {
  left: 0;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li:first-child div.step_indicator:before {
  width: 0;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator:after {
  left: 50%;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li:last-child div.step_indicator:after {
  width: 0;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.selected:before, 
.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.selected:after {
  background: $global_active;
  color: $white;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator a.step_no {
  width: 54px;
  height: 54px;
  line-height: 54px;
  border-radius: 100px;
  background: $dark_gray;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  color: $white;
  position: relative;
  z-index: 5;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator a.step_no:hover, 
.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator a.step_no:active, 
.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator a.step_no:focus {
  background: $global_active;
  color: $white;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.selected a.step_no {
  background: $global_active;
  color: $white;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.add_new a.step_no {
  padding-top: 2px;
  background: $gray;
  color: $main_content_text;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.add_new a.step_no:hover, 
.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.add_new a.step_no:active, 
.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator.add_new a.step_no:focus {
  background: $global_active;
  color: $white;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator ul.step_meta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 5px 0;
  padding: 0;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator ul.step_meta li {
  color: $main_content_text;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator ul.step_meta li.step_name {
  font-weight: 600;
  /* color: $gray; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator button.btn-remove-act {
  position: absolute;
  top: -15px;
  left: calc(50% + 20px);
  padding: 6px 8px 4px;
  background: $gray;
  color: $main_content_text;
  border: 1px solid $monotone_95;
  z-index: 10;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_indicator button.btn-remove-act:hover {
  background: $moss_gray;
  color: $white;
  border: 1px solid $dark_gray;
}

/* -- wizard_vertical -- */

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_relational {
  position: relative;
  width: 100%;
  margin: 10px 5px 10px 0;
  padding: 0 10px;
}

.wizard_horizontal> .wizard_steps_container> ul.wizard_steps li div.step_relational.wizard_vertical {
  width: calc( 100% + 15px ); /* 50% */
  left: calc(50% - 10px); /* calc(50% - 22px) */
  /* background-color: $frosty_white; */
  transform: skewX(-174deg);
}

.wizard_vertical> ul.wizard_steps {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 5px 0;
  padding: 0;
}

.wizard_vertical> ul.wizard_steps li {
  position: relative;
  text-align: left;
  max-width: inherit;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wizard_vertical> ul.wizard_steps li:before, 
.wizard_vertical> ul.wizard_steps li:after {
  content: "";
  position: absolute;
  height: 50%;
  border-left: 3px solid $gray;
  width: 3px;
  z-index: 4;
  left: 6px;
}

.wizard_vertical> ul.wizard_steps li:before {
  top: 0;
}

.wizard_vertical> ul.wizard_steps li:after {
  top: calc(50% + 1px);
}

.wizard_vertical> ul.wizard_steps:before {
  content: "";
  position: absolute;
  height: 8px;
  border-left: 3px solid $cloud;
  width: 3px;
  top: -6px;
  left: 6px;
}

.wizard_vertical> ul.wizard_steps li:last-child:after {
  height: 0;
}

.wizard_vertical> ul.wizard_steps li a {
  position: relative;
  display: block;
  width: calc( 100% + 15px );
  height: 100%;
  left: -22px;
  top: calc( 1em / -2 );
  padding-left: 25px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: skew(174deg);
  z-index: 9;
}

.wizard_vertical> ul.wizard_steps li a:before {
  content: "\ee78";
  font-family: 'plotter';
  color: $main_content_text;
  position: absolute;
  left: 2px;
  font-size: 15px;
  z-index: 9;
}

.wizard_vertical> ul.wizard_steps li a:after {
  content: "\edf6";
  font-family: 'plotter';
  color: $gray;
  position: absolute;
  left: 2px;
  font-size: 15px;
  z-index: 10;
}

.wizard_vertical> ul.wizard_steps li a:hover:before, 
.wizard_vertical> ul.wizard_steps li a:active:before, 
.wizard_vertical> ul.wizard_steps li a:focus:before {
  color: $white;
}

.wizard_vertical> ul.wizard_steps li a:hover:after, 
.wizard_vertical> ul.wizard_steps li a:active:after, 
.wizard_vertical> ul.wizard_steps li a:focus:after {
  color: $global_active;
}

.wizard_vertical> ul.wizard_steps li a.add_sub:before {
  content: "\ee78";
  font-family: 'plotter';
  color: $main_content_text;
  position: absolute;
  left: 2px;
  font-size: 15px;
  z-index: 9;
}

.wizard_vertical> ul.wizard_steps li a.add_sub:after {
  content: "\ed61";
  font-family: 'plotter';
  color: $gray;
  position: absolute;
  left: 2px;
  font-size: 15px;
  z-index: 10;
}

.wizard_vertical> ul.wizard_steps li a.add_sub:hover:before, 
.wizard_vertical> ul.wizard_steps li a.add_sub:active:before, 
.wizard_vertical> ul.wizard_steps li a.add_sub:focus:before {
  color: $white;
}

.wizard_vertical> ul.wizard_steps li a.add_sub:hover:after, 
.wizard_vertical> ul.wizard_steps li a.add_sub:active:after, 
.wizard_vertical> ul.wizard_steps li a.add_sub:focus:after {
  color: $global_active;
}


.wizard_vertical> ul.wizard_steps li a.disabled .step_no {
  background: $gray;
}

.wizard_vertical> ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.wizard_vertical> ul.wizard_steps li a.selected:before, .step_no {
  background: $global_active;
  color: $white;
}

.wizard_vertical> ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
  background: $global_active;
  color: $white;
}

/* -- wizard_prefix -- */

.wizard_prefix {
  position: relative;
  float: left;
  margin: 0;
  width: calc( 50% - 2px );
  height: 40px;
  transform: skewX(-174deg);
}

.wizard_prefix.non-parent {
  clear: left;
  width: auto;
  height: auto;
  transform: none;
}

.wizard_prefix> label.root-dependency {
  display: block;
  margin: 0 0 10px 20px;
  width: inherit;
  height: 40px;
  line-height: 40px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wizard_prefix> ul.wizard_steps li {
  position: relative;
  /* max-width: 100%; */
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wizard_prefix> ul.wizard_steps li:after {
  content: "";
  position: absolute;
  height: 50%;
  border-left: 3px solid $gray;
  width: 3px;
  z-index: 4;
  top: 50%;
  left: 31px;
}

.wizard_prefix> ul.wizard_steps:after {
  content: "";
  position: absolute;
  height: 8px;
  border-left: 3px solid $cloud;
  width: 3px;
  bottom: -8px;
  left: calc( 40px + 31px );
}

.wizard_prefix> ul.wizard_steps li a {
  position: relative;
  display: inline-block;
  width: calc( 100% + 15px );
  height: 100%;
  left: -20px;
  top: calc( 1em * 0.25 );
  padding-left: 30px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: skew(174deg);
  z-index: 9;
}

.wizard_prefix> ul.wizard_steps li a:before {
  content: "\ee78";
  font-family: 'plotter';
  color: $main_content_text;
  font-size: 20px;
  position: absolute;
  left: 2px;
  z-index: 9;
}

.wizard_prefix> ul.wizard_steps li a:after {
  content: "\edf3";
  font-family: 'plotter';
  color: $gray;
  font-size: 20px;
  position: absolute;
  left: 2px;
  z-index: 10;
}

.wizard_prefix> ul.wizard_steps li a:hover:before, 
.wizard_prefix> ul.wizard_steps li a:active:before, 
.wizard_prefix> ul.wizard_steps li a:focus:before {
  color: $white;
}

.wizard_prefix> ul.wizard_steps li a:hover:after, 
.wizard_prefix> ul.wizard_steps li a:active:after, 
.wizard_prefix> ul.wizard_steps li a:focus:after {
  color: $global_active;
}

#dependency-selector {
  display: inline-block;
  position: relative;
  float: right;
  width: calc( 50% - 2px );
  height: 40px;
}

#dependency-selector> select {
  position: relative;
  top: 6px;
  left: 2em;
  width: calc( 100% - 2em );
}

#dependency-selector:before {
  content: "\ee38";
  font-family: 'plotter';
  font-size: 18px;
  color: $gray;
  position: absolute;
  left: 0;
  top: calc( 50% - 11px );
}

/* -- others -- */

#wizard-templates {
  display: none !important;
  visibility: hidden !important;
}

.form_wizard .loader {
  display: none;
}

.form_wizard .msgBox {
  display: none;
}

.form_wizard #act-form {
  position: relative;
  width: 100%;
}

.form_wizard #act-form:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  top: -35px;
  background-color: $white;
}

.form_wizard #act-form.off-mask:before {
  content: "";
  height: 1px;
  top: -1px;
}
