/* Layout Grids */
/* Base Container */
html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  color: $body_color;
  background: $sidebar_bg;
  font-family: $base_font;
  font-size: $base_font_size;
  font-weight: $base_font_weight;
  line-height: 1.471;
}
.container {
  width: 100%;
  max-width: 100% !important;
  padding: 0
}
.main_container {
  background-color: $main_content_bg;
  height: 100%;
  min-height: 100vh;
}
.no-padding {
  padding: 0 !important;
}

.left_col {
  height: 100%;
  background: $sidebar_bg;
  transition: width .14s linear;
}
.nav-md .container.body .col-md-3.left_col, 
.nav-md .container.body .col-md-3.left_col.menu_fixed {
  box-shadow: 1px 0px 2px $navi_menu_border; /* vertical downward as the height of the top navi */
}
.nav-sm .container.body .col-md-3.left_col {
  min-height: 100%;
  width: 70px;
  padding: 0;
  z-index: $zi_sidebar;
  position: absolute;
  box-shadow: 1px 0px 2px $navi_menu_border; /* vertical downward as the height of the top navi */
}
.nav-sm .container.body .col-md-3.left_col.menu_fixed {
  position: fixed;
  height: 100%;
}
.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
  overflow: visible;
}
.nav-sm .hidden-small {
  display: none;
  visibility: hidden;
}
.nav-sm .container.body .right_col {
  padding: 10px 20px;
  margin-left: 70px;
  z-index: $zi_right_col;
}
@media (max-width: 991px) {
  .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
    width: 100%;
    margin: 0;
  }
  .nav-md .container.body .col-md-3.left_col {
    display: none;
  }
  .nav-md .container.body .right_col {
    width: 100%;
    padding-right: 0
  }
  .right_col {
    padding: 10px !important;
  }
}
@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px;
  }
  .tile, .graph {
    zoom: 85%;
    height: inherit;
  }
}
@media (max-width: 1270px) and (min-width: 192px) {
  .x_title h2 small {
    display: none
  }
}
.left_col .mCSB_scrollTools {
  width: 6px;
}
.left_col .mCSB_dragger {
  max-height: 400px !important;
}
