body .container.body .right_col {
  position: relative;
  margin-top: 0; /* When ".top_nav" exist. */
  background-color: $main_content_bg;
  color: $main_content_text;
}
.nav-md .container.body .right_col {
  padding: 10px 20px 0;
  margin-left: 230px;
}
.nav-md.full-span .container.body .right_col {
  margin-left: 0;
}

/* register, signin, profile etc. */
.account-notice, .profile-notice {
  display: none; /* for pnotify */
}
#pwd-strength-notice {
  position: relative;
  vertical-align: middle;
}
#pwd-strength-notice .label {
  position: relative;
  display: inline-block;
  width: 100%;
  top: .5em;
  padding-top: .75em;
  padding-bottom: .75em;
}

